@model Application.Dto.Product.ProductInsert

@{
    ViewData["Title"] = "Create product";
    var categories = ViewBag.ProductInsertData.Categories;
    var suppliers = ViewBag.ProductInsertData.Suppliers;
    var makers = ViewBag.ProductInsertData.Makers;
}

<h1>Create Product</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="CategoryId"></label>
                <select class="form-control" asp-for="CategoryId">
                    @foreach(var category in categories)
                    {
                        <option value="@category.Id">@category.CategoryName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="SupplierId"></label>
                <select class="form-control" asp-for="SupplierId">
                    @foreach (var supplier in suppliers)
                    {
                        <option value="@supplier.Id">@supplier.SupplierName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="MakerId"></label>
                <select class="form-control" asp-for="MakerId">
                    @foreach (var maker in makers)
                    {
                        <option value="@maker.Id">@maker.MakerName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
